<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>

    <section id="topo" class="container-fluid">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-lg" style="background-color: #0A5916; ">
            <div class="container-fluid">
              <a class="navbar-brand" style="color: white;" href="#">Biblioteca</a>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" style="color: white;" href="#">Livros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="#">Empréstimos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="#">Usuários</a>
                  </li>
                </ul>
                <span class="navbar-text" style="color: white;">
                  Desenvolvedor: Carlos Welliton
                </span>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </section>

    <section id="banner" class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="textoPrincipal p-4" style="background-color: #C7D9CA;">
            <h3>Sistema de Gestão de Biblioteca</h3>
            <h6>Bem-vindo(a) ao sistema de controle literário</h6>
          </div>
        </div>
      </div>
    </section>

    <br>
    <br>
    <br>

    <section id="conteudo" class="container">
      <div class="row">
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              <h6>10</h6>
              <h5 class="card-title">Empréstimos Realizados</h5>
            </div>
            <div class="card-footer" style="background-color: #0E731D; color: white;">
              <a href="" class="text-decoration-none" style="color: inherit;"><h6>Ver todos</h6></a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              <h6>10</h6>
              <h5 class="card-title">Livros Cadastrados</h5>
            </div>
            <div class="card-footer" style="background-color: #0A1073; color: white;">
              <a href="" class="text-decoration-none" style="color: inherit;"><h6>Ver todos</h6></a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              <h6>10</h6>
              <h5 class="card-title">Usuários Cadastrados</h5>
            </div>
            <div class="card-footer" style="background-color: #D91438; color: white;">
              <a href="" class="text-decoration-none" style="color: inherit;"><h6>Ver todos</h6></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    











    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>